@import
	url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic)
	;

@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400)
	;

body, html {
	position: relative;
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
	height: 100%;
}

h1 {
	text-transform: uppercase;
}

h1 strong {
	font-weight: 900;
}

h2 {
	text-transform: uppercase;
	line-height: 25px;
	margin: 0;
	margin-bottom: 2%;
}

h3 {
	font-size: 18px;
	font-weight: 900;
}

h4 {
	text-transform: uppercase;
}

h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

p {
	font-family: 'Open Sans', sans-serif;
}

p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #FCAC45;
}

a:hover, a:focus {
	text-decoration: none;
	color: #FCAC45;
}

.section-title hr {
	border-color: #fcac45;
	border-width: 4px;
	width: 60px;
	float: left;
	clear: both;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

/* Navigation */
#tf-menu {
	padding: 20px;
	transition: all 0.8s;
}

#tf-menu.navbar-default {
	background-color: rgba(22, 22, 22, 1);
	border-color: rgba(231, 231, 231, 0);
}

#tf-menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
	font-weight: 900;
}

#tf-menu.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	color: #FFF;
	font-size: 12px;
	letter-spacing: 1px;
	outline: none;
}

#tf-menu.navbar-default .navbar-nav>li>a:hover {
	color: #FCAC45;
}

.on {
	background-color: #222222 !important;
	padding: 0 !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #FCAC45 !important;
	background-color: transparent;
	font-weight: 700;
}

.navbar-toggle {
	border-radius: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #FCAC45;
	border-color: #FCAC45;
}

.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}

/* Home Style */
#tf-home {
	background: url(../../img/index/01.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
	height: 70em;
}

#tf-home .overlay {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)),
		color-stop(35%, rgba(0, 0, 0, 0.66)),
		color-stop(62%, rgba(0, 0, 0, 0.55)),
		color-stop(100%, rgba(0, 0, 0, 0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000',
		endColorstr='#66000000', GradientType=0); /* IE6-9 */
	height: 70em;
	background-attachment: fixed;
}

#tf-home p.lead {
	color: #e3e3e3;
}

.content {
	position: relative;
	padding: 20% 0 0;
}

.color {
	color: #fcac45;
}

a.fa.fa-angle-down {
	padding: 10px 15px;
	color: #fff;
	border: 2px solid #b4b4b4;
	border-radius: 50%;
	font-size: 24px;
	margin-top: 200px;
	transition: all 0.5s;
}

a.fa.fa-angle-down:hover {
	background: #fcac45;
	color: #ffffff;
	border: 2px solid #fcac45;
}
/* About Section */
#tf-about {
	padding: 80px 0;
}

ul.about-list {
	margin: 30px 0 0;
}

ul.about-list li {
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
}

ul.about-list li span {
	margin-right: 10px;
}

/* Team Section */
#tf-team {
	background: url(../../img/index/03.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}

#tf-team .overlay {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)),
		color-stop(35%, rgba(0, 0, 0, 0.66)),
		color-stop(62%, rgba(0, 0, 0, 0.55)),
		color-stop(100%, rgba(0, 0, 0, 0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000',
		endColorstr='#66000000', GradientType=0); /* IE6-9 */
	height: auto;
	background-attachment: fixed;
	padding: 80px 0;
}

.section-title.center {
	padding: 30px 0;
}

.section-title h2, .section-title.center h2 {
	font-weight: 300;
}

.section-title.center .line {
	border-top: 4px solid #fcac45;
	height: 10px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

.section-title.center hr {
	border-top: 4px solid rgba(252, 172, 69, 0.34);
	width: 40px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	left: 17%;
}

#team {
	margin: 0 auto
}

#team .item {
	padding: 0;
	margin: 15px;
	color: #FFF;
	text-align: center;
}

img.img-circle.team-img {
	width: 120px;
	height: 120px;
	border: 4px solid transparent;
	transition: all 0.5s;
}

#tf-team .item .thumbnail:hover>img.img-circle.team-img {
	border: 4px solid #FCAC45;
}

#tf-team .thumbnail {
	background: transparent;
	border: 0;
}

#tf-team .thumbnail .caption {
	padding: 9px;
	color: #F2F2F2;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity = 1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #CCCCCC;
	transition: all 0.5s;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span
	{
	filter: Alpha(Opacity = 100);
	opacity: 1;
	background: #FCAC45;
}

.owl-theme .owl-controls .owl-page.active span {
	background: #FCAC45;
}

/* Gallery Section 
==============================*/
#tf-works {
	padding: 80px 0;
}

.categories {
	padding: 10px 0;
}

ul.cat li {
	display: inline-block;
}

#tf-works li.pull-right {
	margin-top: 10px;
}

ol.type li {
	display: inline-block;
	margin-left: 20px;
}

ol.type li:after {
	content: ' | ';
	margin-left: 20px;
}

ol.type li:last-child:after {
	content: '';
}

ol.type li a {
	color: #222222
}

ol.type li a.active {
	font-weight: 700;
}

.isotope-item {
	z-index: 2
}

.isotope-hidden.isotope-item {
	z-index: 1
}

.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}

.portfolio-item {
	margin-bottom: 30px;
}

.portfolio-item .hover-bg {
	height: 260px;
	overflow: hidden;
	position: relative;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}

.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}

.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.hover-bg:hover .hover-text {
	opacity: 1;
}

#tf-works i.fa {
	height: 30px;
	width: 30px;
	border: 1px solid #FCAC45;
	font-size: 20px;
	padding: 5px;
	border-radius: 50%;
	color: #FCAC45;
}
/* Testimonials Section */
#tf-testimonials {
	padding: 80px 0;
}

#testimonial {
	padding: 30px 0;
}

#testimonial .item {
	display: block;
	width: 100%;
	height: auto;
}

#testimonial .item p {
	font-weight: 400;
	margin: 30px 0;
	color: #d1d1d1;
}

/* Contact Section */
#tf-contact {
	background: url(../../img/index/05.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}

#tf-contact .overlay {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)),
		color-stop(35%, rgba(0, 0, 0, 0.66)),
		color-stop(62%, rgba(0, 0, 0, 0.55)),
		color-stop(100%, rgba(0, 0, 0, 0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000',
		endColorstr='#66000000', GradientType=0); /* IE6-9 */
	padding: 80px 0;
	background-attachment: fixed;
}

label {
	display: block;
	width: 200px;
	text-align: left;
	float: left;
	color: rgba(255, 255, 255, 1);
	font-size: 1.1em;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

#tf-contact .contact-form {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

#tf-contact .contact-form:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}

button.btn.tf-btn.btn-default {
	float: right;
	background: #FCAC45;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
	color: #ffffff;
	text-transform: uppercase;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn.active.focus {
	outline: thin dotted;
	outline: none;
	outline-offset: none;
}
/* Footer */
nav#footer {
	background: #222222;
	color: #ffffff;
	padding: 2% 2% 4% 2%;
	height: 6%;
	border: none;
}

nav#footer .fnav {
	vertical-align: middle;
}

ul.footer-social li {
	display: inline-block;
	margin-right: 10px;
}

nav#footer p {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer i.fa {
	height: 30px;
	width: 30px;
	border: 2px solid #8c8c8c;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #8c8c8c;
	transition: all 0.5s;
}

#footer i.fa:hover {
	background: #FCAC45;
	border-color: #FCAC45;
	color: #ffffff;
}

nav#footer-index {
	background: #222222;
	color: #ffffff;
	padding: 20px;
	height: 6%;
	border: none;
}

nav#footer-index .fnav {
	vertical-align: middle;
}

ul.footer-social li {
	display: inline-block;
	margin-right: 10px;
}

nav#footer-index p {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer-index i.fa {
	height: 30px;
	width: 30px;
	border: 2px solid #8c8c8c;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #8c8c8c;
	transition: all 0.5s;
}

#footer-index i.fa:hover {
	background: #FCAC45;
	border-color: #FCAC45;
	color: #ffffff;
}

/* Début du tri du CSS à partir d'ici:
    ajouts et tri d'éléments avec commentaring
    */
#tf-contact .contact-form {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

#tf-contact .contact-form:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}

.info-field {
	display: block;
	width: 20%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	opacity: 0.9;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

.info-field:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}

.general-form {
	height: 100%;
	padding: 10% 0 0;
}

.auth-form {
	height: 100%;
	padding-top: 10%;
}

#vue-offre {
	background: url(../../img/liste-offre/background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
	height: auto;
	min-height: 94%;
	padding-bottom: 5%;
}

.vue-top-chef{
	padding-top : 100px;
}
/* Style Formulaire Offre */
#StyleFormulaireOffre {
	color: #cfcfcf;
	background: url(../../img/forms/offre.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 3% 0% 5% 0%;
}

.general-form .titre-offre {
	padding-top: 2%;
}

.Aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Aligner-item {
	max-width: 50%;
	margin: 0;
	align-content: space-between;
}

.Aligner-left {
	display: flex;
	align-items: left;
	justify-content: space-between;
}

.Aligner-item-left {
	width: 100%;
	align-items: left;
	justify-content: left;
}

.containerFormOffre {
	width: 100%;
}

.container-footer {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#StyleFormulaireOffre .overlay {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)),
		color-stop(35%, rgba(0, 0, 0, 0.66)),
		color-stop(62%, rgba(0, 0, 0, 0.55)),
		color-stop(100%, rgba(0, 0, 0, 0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000',
		endColorstr='#66000000', GradientType=0); /* IE6-9 */
	background-attachment: fixed;
	height: 94%;
}

#StyleFormulaireOffre p.lead {
	color: #e3e3e3;
}

fieldset {
	max-width: 1000px;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	padding: 5%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(255, 255, 255, 1);
	border: 3px;
}

.field-premium {
	border-style: solid;
	border-image-source: url(../../img/liste-offre/bordure.png);
	border-image-slice: 30;
	border-image-width: 1;
	border-image-outset: 1;
	position: relative;
}

.field-button {
	padding: 1%;
	background-color: rgba(0, 0, 0, 0);
}

legend {
	color: rgba(255, 255, 255, 1);
	padding-top: 5%;
}

button.form {
	float: center;
	background: #FCAC45;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
	color: #000000;
	text-transform: uppercase;
}

.textAndInput {
	padding: 5px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	height: 100%;
	width: 60%;
}

.inscriptionForm {
	margin-top: 0%;
	height: auto;
}

.item-view {
	background-color: rgba(0, 0, 0, 0.9);
	margin: 3%;
	width: 400px;
	height: 222px;
	z-index: 1;
	transition: 0.5s; /* Animation time */
	-webkit-transition: 0.5s; /* For Safari */
	position: relative;
	border-radius: 15px 0px 15px 0px;
}

.inner-item-view {
	padding: 25px;
	width: 400px;
	height: 222px;
	z-index: 2;
	position: relative;
	border-radius: 15px 0px 15px 0px;
	transition: 0.5s; /* Animation time */
	-webkit-transition: 0.5s; /* For Safari */
}

.inner-item-view:hover {
	background-color: rgba(0, 0, 0, 0.80);
}

.item-premium {
	border-style: solid;
	border-image-source: url(../../img/liste-offre/bordure.png);
	border-image-slice: 20;
	border-image-width: 1;
	border-image-outset: 1;
}

.item-view:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.65);
}

.ligne-tab {
	margin: 5%;
}

ul {
	list-style-type: none;
}

.logo {
	display: block;
	margin-right: 25px;
	float: left;
	width: 32px;
	height: 32px;
}

.topchef {
	display: block;
	height: 32px;
	top: 7.5px;
	left: -145px;
	position: absolute;
}

.containerProfil {
	background: url(../img/profil/background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
	height: auto;
	min-height: 94%;
	margin: 0;
}

.profil {
	position: relative;
	height: auto;
	min-height: 50%;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
	padding: 3%;
	background: rgba(0, 0, 0, 0.85);
	color: white;
	line-height: 35px;
	overflow: hidden;
}

.profil-form {
	position: relative;
	padding: 0 0 0;
}

.image-profil {
	height: 100%;
}

.image-profil img {
	max-height: 250px;
	width: auto;
}

.infos-profil {
	margin-left: 5%;
	margin-top: 1%;
}

.image-profil-editable {
	width: 18em;
	height: 18em;
	align-content: center;
	overflow: hidden;
}

.image-profil.col-lg-3 {
	width: 18em;
	height: 18em;
	margin-bottom: 2em;
	align-content: center;
	overflow: hidden;
}

#image-profil {
	max-width: 100%;
	height: auto;
}

@
-moz-document url-prefix () { #image-profil {
	width: 100%;
}

}
.editable {
	width: 18em;
	margin-bottom: 2em;
	padding: 0px
}

.drop-box-profil {
	background: #F8F8F8;
	border-radius: 10px 10px 10px 10px;
	border: 5px dashed #DDD;
	width: 18em;
	height: 5em;
	text-align: center;
	padding-top: 5%;
	color: grey;
}

.offre-container {
	height: auto;
	display: inline-block;
	float: left;
	margin: 0% 1.5% 0% 1.5%;
}

.offre-display {
	position: relative;
	background: rgba(0, 0, 0, 0.85);
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 6%;
	padding: 20px;
}

.validation-messages {
	font-size: 11px;
	color: #F44336;
	margin: 10px 0 0 25px;
}

.layout-padding {
	border-radius: 10px;
	overflow: visible;
}

md-toast {
	margin-left: auto;
	margin-right: auto;
}

#connexion-form {
	width: 50%;
	margin: auto;
}

.input-group {
	width: 100%;
}

@
-moz-document url-prefix () { .input-group {
	width: 115%;
}

}
#hidden {
	display: none;
}

#tranches {
	margin-bottom: -5%;
	background-color: rgba(238, 238, 238, 0);
	border: none;
}

#date {
	background-color: rgba(238, 238, 238, 0);
}

#white {
	color: rgb(250, 250, 250);
	border-color: rgb(250, 250, 250);
}

#back_white {
	background-color: rgb(250, 250, 250);
	color: rgb(0, 0, 0);
}

#back_white:hover {
	background-color: rgb(224, 224, 224);
}

.white {
	color: rgb(250, 250, 250);
	background-color: rgba(238, 238, 238, 0);
}

.white .white a {
	color: rgb(250, 250, 250);
	background-color: rgba(238, 238, 238, 0);
}

#select_white {
	color: rgb(250, 250, 250);
	background-color: rgba(238, 238, 238, 0);
}

#select_white:not ([disabled] ):focus {
	color: rgb(250, 250, 250);
	background-color: rgba(238, 238, 238, 0);
}

#form_button {
	width: 70%;
	margin-left: 15%;
	height: 4%;
	margin-right: 15%;
}

#form_button:hover {
	background-color: #FFC376
}

#form_button_log:disabled {
	background-color: rgba(238, 238, 238, 0.4)
}

button#form_button {
	width: 70%;
	margin-left: 15%;
	height: 4%;
	margin-right: 15%;
}

#form_button_log {
	width: auto;
	margin-left: 15%;
	height: auto;
	margin-right: 15%;
}

#form_button_log:hover {
	background-color: #FFC376
}

button#form_button_log {
	width: auto;
	margin-left: 15%;
	height: auto;
	margin-right: 15%;
}

#form_button_log:not ([disabled] ):hover {
	background-color: #FFC376
}

.inner {
	padding: 1%;
	background-color: rgba(238, 238, 238, 0);
}

.word_respect {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: initial; /* Internet Explorer 5.5+ */
	word-break: initial;
}

#input_3, #input_1 {
	color: black;
}

.red {
	color: red;
}

img.img-tile {
	width: 50px;
	height: 50px;
}

img.img-profil {
	z-index: 2;
	transition: 0.5s; /* Animation time */
	-webkit-transition: 0.5s; /* For Safari */
}

.inner-item-view, img.img-tile.img-profil {
	pointer-events: none;
}

img.img-tile.img-profil {
	pointer-events: auto;
}

img.img-tile.img-profil:hover {
	width: 65px;
	height: 65px;
}

.img-tile-premium {
	position: absolute;
	top: -20px;
	left: -20px;
	z-index: 4;
}

.img-offre-premium {
	position: absolute;
	top: -20px;
	left: -15px;
	z-index: 2;
}

.mask shine {
	position: relative;
	display: block;
}

.mask shine {
	background-position: -50px 0px;
}

.mask shine:hover, .mask shine:focus {
	background-position: 25px 5px;
	/*change speed to see in slow motion*/
	transition: all 1s;
}

.mask shine::after {
	content: '';
	position: absolute;
	pointer-events: none;
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: radial-gradient(-150% -70%, circle farthest-side, rgba(255, 255, 255, 0)
		90%, rgba(255, 255, 255, .8) 98%, rgba(255, 255, 255, 0) 100%)
		no-repeat;
	background: radial-gradient(circle farthest-side at -100% -50%, rgba(255, 255, 255,
		0) 90%, rgba(255, 255, 255, .8) 98%, rgba(255, 255, 255, 0) 100%)
		no-repeat;
	background-position: inherit;
	-webkit-mask: url(../../img/accueil/tw.png) center;
	height: 50px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: radial-gradient(-150% -70%, circle farthest-side, rgba(255, 255, 255, 0)
		90%, rgba(255, 255, 255, .8) 98%, rgba(255, 255, 255, 0) 100%)
		no-repeat;
	background: radial-gradient(circle farthest-side at -100% -50%, rgba(255, 255, 255,
		0) 90%, rgba(255, 255, 255, .8) 98%, rgba(255, 255, 255, 0) 100%)
		no-repeat;
	background-position: inherit;
	-webkit-mask: url(../../img/accueil/tw.png) center;
	mask: url(../../img/accueil/rond.svg#mask-firefox);
}

.drop-box {
	background: #F8F8F8;
	border-radius: 10px 10px 10px 10px;
	border: 5px dashed #DDD;
	width: auto;
	height: 80px;
	text-align: center;
	padding-top: 5%;
	margin: 10px;
	color: grey;
}

.dragover {
	border: 5px dashed rgba(254, 186, 49, 1);
}

.thumb {
	float: left;
	height: 18px;
	padding-right: 10px;
}

.medium:hover {
	cursor: pointer;
	position: abolute;
	border-radius: 4px;
	border-color: rgba(254, 186, 49, 0.8);
	-moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(254, 186, 49, 1);
	-webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(254, 186, 49, 1);
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(254, 186, 49, 1);
}

.medium {
	height: 70px;
	width: 70px;
	z-index: 1;
	border-radius: 2px 2px 2px 2px;
	margin: 10px;
	float: left;
	transition: 0.5s; /* Animation time */
	-webkit-transition: 0.5s; /* For Safari */
}

.carousel {
	text-align: center;
}

.chef {
	height: 300px;
	width: 200px;
	padding: 1em;
}

.chef-tile {
	height: 100px;
	width: 100px;
}

.overlay-photo {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.9);
	top: 0;
	left: 0;
	height: auto;
	width: 90%;
	z-index: 99;
	margin: 10% 5%;
	border-radius: 10px 10px 10px 10px;
	border: 5px rgba(254, 186, 49, 1);
	border: solid;
}

.showtime {
	margin-top: 20%;
	width: 100%;
	border-radius: 10px 10px 10px 10px;
	heigth: auto;
}

.fa {
	cursor: pointer;
}

.editOffre {
	position: absolute;
	top: 20px;
	left: 95%;
	color: rgb(250, 250, 250);
}

.editOffre:hover {
	color: rgba(254, 186, 49, 1);
}

.img-reservation:hover {
	cursor: pointer;
	position: abolute;
	border-radius: 4px;
	border-color: rgba(254, 186, 49, 0.8);
	-moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(254, 186, 49, 1);
	-webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(254, 186, 49, 1);
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(254, 186, 49, 1);
}

.img-reservation {
	height: 70px;
	width: 70px;
	z-index: 1;
	border-radius: 50%;
	margin: 10px;
	float: left;
	transition: 0.5s; /* Animation time */
	-webkit-transition: 0.5s; /* For Safari */
}

.img-reservation:focus {
	outline: 0px
}

.editOffre:hover {
	color: rgba(254, 186, 49, 1);
}

.pointer {
	cursor: pointer;
}

.fleche {
	cursor: pointer;
	margin-rigth: 8px;
}

#notation {
	clear: both;
	display: block;
}

.rate {
	background-color: white;
	margin: 0.5%;
	padding-right: 1%;
	padding-left: 1.5%;
	padding-top: 0.8%;
	border-radius: 2em 2em;
	border: 2px solid;
	border-color: rgba(254, 186, 49, 0.8);
}

.rate-item {
	background-color: white;
	margin: 0.5%;
	padding-right : 1%;
	padding-left : 1.5%;	
	padding-top :4%;
	border-radius: 2em 2em;
		border: 2px solid;
	border-color: rgba(254, 186, 49, 0.8);
}


.paypal-button {
	width: 15em;
	margin: 0.5%;
}

.img-ico {
	width: 2.3em;
	height: 2.3em;
	margin-top: 11.5%
}

.popover {
	max-width: 100%;
	/* Max Width of the popover (depending on the container!) */
}

.page-notification {
	background: url(../../img/accueil/accueil.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
	height: 94%;
	margin: 0;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-box-flex;
	align-items: flex-start;
	justify-content: space-around;
}

.conteneur-notif {
	display: flex;
	align-items: flex-end;
	width: auto;
	padding-top: 90px;
	flex: 0 1 auto;
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
}

.colonne-notif {
	flex: 0 1 23em;
	min-width: 23em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	height: 100%;
	border: 1px solid;
	background-color: rgba(0, 0, 0, 0.2);
	border-color: rgba(255, 255, 255, 0.3);
	padding-left: 0.1em;
}

.non-lu {
	border-color: rgba(255, 255, 255, 0.4);
	color: rgb(255, 255, 255);
}

.notification:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.notification.vide:hover {
	cursor: initial;
	background-color: rgba(255, 255, 255, 0);
}

.notification {
	cursor: pointer;
	border: 2px solid;
	height: 4em;
	align-items: center;
	display: flex;
	padding: 0.5em 0.3em;
	border: 1px solid;
}

.vide {
	justify-content: center;
	border: 0px;
}

.lu {
	border-color: rgba(252, 172, 69, 0.4);
	color: rgba(252, 172, 69, 0.4);
}

.conteneur-message {
	flex: 1 0 auto;
	padding-left: 0.1em;
	padding-right: 0.1em;
	height: 100%;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
}

.message {
	white-space: pre-line;
	flex: 1 1 auto;
	margin: 2em;
	padding: 2em 0.5em;
	width: 0em;
	border-radius: 0.5em 0.5em;
	border: 1px solid;
	border-color: rgba(255, 255, 255, 0.4);
	background-color: rgba(0, 0, 0, 0.4);
	color: rgb(255, 255, 255)
}

.error-message-shadowed {
	text-shadow: 0.5px 0.5px 2px #f66;
}

.ligne {
	color: rgba(255, 255, 255, 0.4);
	background: rgba(255, 255, 255, 0.4);
	width: 95%;
	height: 1px;
}


.plusdefiltre{
	cursor: pointer;
}

.plusdefiltre:hover{
	color: rgba(255, 255, 255, 0.8);
}

.barre-recherche{
	height: auto;
	display: inline-block;
	width:100%;
	transition: 3s;
	margin: -2% 3% 0% 3%;
}

.fond-recherche{
	padding: 111px 0% 1% 0%;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 0.5em 0.5em;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.4);

	

}

.recherche{

	width: 95%;
}

.filtre{
	margin: 0%;
	width : 18em;
}

.switch-label-filtre{
	bottom:75%;
}
.input-label-filtre{
	bottom:110%;
}

.slider-label-filtre{
	bottom: 90%;
}
.switch-filtre{
	padding-top: 5%
}
md-switch.md-default-theme.md-checked.md-warn .md-bar, md-switch.md-checked.md-warn .md-bar {
    background-color: rgba(254, 186, 49, 0.5);
}

md-switch.md-default-theme.md-checked.md-warn .md-thumb, md-switch.md-checked.md-warn .md-thumb {
    background-color: rgba(254, 186, 49, 1);
}
.date-label-filtre{
	bottom: 70%;
}
#date-filtre{
	color: rgba(0, 0, 0, 1);
}
.calendrier-filtre{
	    color: #555;
}

#form_button_filtre{
	width: auto;
	margin-left: 15%;
	height: auto;
	margin-right: 15%;
	margin-top:0%;
}


#form_button_filtre:hover {
	background-color: #FFC376
}
