<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top"
	ng-controller="LogoutCtrl">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"><img class="logo"
				src="resources/img/icon.png" />FeedMe</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="liste_top_chef.html" class="marge"><img
						class="topchef" src="resources/img/topfeeders_full.png" /></a></li>
				<li><a href="accueil.html" class="marge">Accueil</a></li>
				<li><a href="profil.html" class="marge">Mon profil</a></li>
				<li><a href="formulaire-offre.html" class="marge">Proposer
						une offre</a></li>
				<li><a href="liste_offres.html" class="marge">Voir les
						offres</a></li>
				<li><a href="" ng-click="logout()" class="marge">Déconnexion</a></li>

				<li><span uib-dropdown on-toggle="toggled(open)"><notification-icon
							animation="shake" clear-trigger="click" count="4"
							uib-dropdown-toggle> <img
							src="resources/img/notif2.png" alt="notification" class="img-ico">
						</i></notification-icon>

						<ul uib-dropdown-menu class="dropdown-menu-left" aria-labelledby="simple-dropdown">
							<li ng-repeat="notif in items"><a href>{{notif}}</a></li>

						</ul> </span></li>
			</ul>
		</div>
	</div>
</nav>