<!-- 
©Copyright 2015 - FeedMe
Page proposant le formulaire d'inscription.
 -->

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Inscription</title>
		<script src="/resources/js/angular.min.js"></script>
		<script src="/resources/js/jquery-2.1.4.min.js"></script>
		<script src="/resources/js/jquery.datetimepicker.js"></script>
		<link rel="stylesheet" type="text/css" href="/resources/css/jquery.datetimepicker.css"/ >
	</head>
	
	<body ng-app="Inscription">
		<!-- Menu -->
		<div ng-include="'/resources/header.html'"></div>
		
		<!-- Formulaire d'inscription -->
		<h2>Inscription :</h2>
		<form name="InscriptionForm" ng-controller="InscriptionCtrl" ng-submit="submitForm()" novalidate>
			
			<label for="nom">Nom* : </label>
			<input type="text" name="nom" ng-model="nom" ng-required="true" placeholder="Nom">
			<span style="color:red" ng-show="InscriptionForm.nom.$invalid && !InscriptionForm.nom.$pristine"><span ng-show="InscriptionForm.nom.$error.required">Veuillez saisir votre nom.</span></span>
			<br>
			
			<label for="prenom">Prénom* : </label>
			<input type="text" name="prenom" ng-model="prenom" ng-required="true" placeholder="Prénom">
			<span style="color:red" ng-show="InscriptionForm.firstname.$invalid && !InscriptionForm.firstname.$pristine"><span ng-show="InscriptionForm.firstname.$error.required">Veuillez saisir votre prénom.</span></span>
			<br>
			
			<label for="anniversaire">Date de naissance* : </label>
			<input type="text" name="anniversaire" ng-model="anniversaire" id="anniversaire" ng-readonly="true" placeholder="Date de naissance">
			<br>
			
			<label for="mdp">Mot de passe* : </label>
			<input type="password" name="mdp" ng-model="mdp" ng-required="true" placeholder="Mot de passe">
			<span style="color:red" ng-show="InscriptionForm.mdp.$invalid && !InscriptionForm.mdp.$pristine"><span ng-show="InscriptionForm.mdp.$error.required">Veuillez saisir un mot de passe.</span></span>
			<br>
			
			<label for="cmdp">Confirmez le mot de passe* : </label>
			<input type="password" name="cmdp" ng-model="cmdp" ng-required="true" placeholder="Mot de passe" ensure-expression="mdp == cmdp">
			<span style="color:red" ng-show="InscriptionForm.cmdp.$invalid && !InscriptionForm.cmdp.$pristine">
				<span ng-show="InscriptionForm.cmdp.$error.required">Veuillez confirmer le mot de passe.</span>
				<span ng-show="InscriptionForm.cmdp.$error.mauvaismdp && !InscriptionForm.cmdp.$error.required && !InscriptionForm.mdp.$error.required">Les mots de passe sont différents.</span>
			</span>
			<br>
			
			<label for="email">Adresse mail* : </label>
			<input type="email" name="email" ng-model="email" ng-required="true" placeholder="Adresse mail">
			<span style="color:red" ng-show="InscriptionForm.email.$invalid && !InscriptionForm.email.$pristine">
				<span ng-show="InscriptionForm.email.$error.required">Veuillez saisir votre email.</span>
				<span ng-show="InscriptionForm.email.$error.email">Votre email est invalide.</span>
			</span>
			<br>
			<!-- Validation du formulaire : disponible uniquement quand les champs sont valides -->
			<button type="submit" ng-disabled="nonValide()">Confirmer</button>
		</form>
		
		<script src="/resources/js/script-inscription.js"></script>
		
		<!-- Pied de page -->
		<div ng-include="'/resources/footer.html'"></div>
	</body>
</html>
