<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Liste des réservations</title>
		<script src="/ressources/js/angular.min.js"></script>
		<script src="/ressources/js/script_list_offre.js"></script>
		<body ng-app="ListApp">
			<div ng-include="'ressources/header.html'"></div>
			<div ng-controller="ListCtrl">
			<ul ng-repeat="item in list">
				<li>
					<div ng-click="visualize(item)">
						<h2>{{item.titre}}</h2>
						<p>
							{{item.ville}}
						</p>
						<p>
							{{item.typeCuisine}}
						</p>
						<p>
							{{item.prix}}
						</p>
						<p>
							{{item.nombreRestant}}
						</p>
						<p>
							{{item.dateRepas}}
						</p>
					</div>
				</li>
			</ul>
			</div>
			<div ng-include="'/ressources/footer.html'"></div>
		</body>
	</html>
