<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Authentification</title>
		<script src="/public/resources/js/angular.min.js"></script>
		<script src="/public/resources/js/login.js"></script>
	</head>
	<body ng-app="login">
		<div ng-include="'/public/resources/header.html'"></div>
	
			<h1>Authentification</h1>
		
			<form name="form" ng-submit="confirm()" ng-controller="LoginController">
			
					<p>
						<input type="email" name="email" ng-model="email" required>
					</p>
					<div ng-show="form.$submitted || form.email.$touched" role="alert">
						<span class="error" ng-show="form.email.$error.required">Requis!</span>
						<span class="error" ng-show="form.email.$error.email">Format d'e-mail invalide</span>
					</div>
				
					<p>
						<input type="password" name="passwordInput" ng-model="pwd" required>
					</p>
					<div ng-show="form.$submitted || form.passwordInput.$touched"  role="alert">
						<span class="error" ng-show="form.passwordInput.$error.required">Requis!</span>
					</div>
				
				<input type="submit" name="boutonConfirmation" value="Confirmer"  />
			</form>
			
		
		<div ng-include="'/public/resources/footer.html'"></div>
	</body>
</html>


