<div>
	<div id="listeRepasProfil" ng-if="listeRepas && listeRepas.length">
		<h3>Mes derniers repas :</h3>
		<ul>
			<li ng-repeat="repas in listeRepas | orderBy: '-dateRepas' | limitTo: 3 : debutRepas">{{repas.titre}} le {{repas.dateRepas | date:"dd/MM/yyyy"}} chez {{repas.hote.prenom}} {{repas.hote.nom}}.</li>
		</ul>
		<a class="fleche" ng-show="debutRepas > 0" ng-click="debutRepas = debutRepas - 3"><< pr&eacute;c&eacute;dents</a><a class="fleche" ng-show="debutRepas < listeRepas.length-3" ng-click="debutRepas = debutRepas + 3">suivants >></a>
	</div>

	<div id="listeOffresProfil" ng-if="listeOffres && listeOffres.length">
		<h3>Derni&egrave;res offres cr&eacute;&eacute;es :</h3>
		<ul>
			<li ng-repeat="offre in listeOffres | orderBy: '-dateRepas' | limitTo: 3 : debutOffres">{{offre.titre}} le {{offre.dateRepas | date:"dd/MM/yyyy"}} (<a href="/offre.html?id={{offre.id}}">voir l'offre</a>)</li>
		</ul>
		<a class="fleche" ng-show="debutOffres > 0" ng-click="debutOffres = debutOffres - 3"><< pr&eacute;c&eacute;dents</a><a class="fleche" ng-show="debutOffres < listeOffres.length-3" ng-click="debutOffres = debutOffres + 3">suivants >></a>
	</div>
</div>

<style>
.fleche {
	cursor: pointer;
	margin-rigth: 8px;
}
</style>