<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Proposer une offre</title>
<link rel="stylesheet" type='text/css'
	href="/resources/css/angular-material.min.css">
<link rel="stylesheet" type="text/css"
	href="/resources/css/bootstrap.css">
<link rel="stylesheet" type="text/css"
	href="/resources/fonts/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
<link href="/resources/css/angular-carousel.css" rel="stylesheet" type="text/css" />

<link rel='stylesheet' type='text/css' href='resources/fonts/general-font.css'>
<link rel='stylesheet' type='text/css' href='resources/css/angular-notification-icons.min.css'>

<style>
.mask shine::after {
	mask: url(#mask-firefox);
}
</style>
<svg height=0>
 <defs>
   <!-- THE mask -->
  <mask id="mask-firefox">
    <image width="50" height="50"
		xlink:href="resources/img/accueil/tw.png" />
  </mask>
  </defs>
</svg>
<link rel="stylesheet" type="text/css"
	href="/resources/css/responsive.css">
<link rel='stylesheet' type='text/css'
	href='/resources/fonts/general-font.css'>
<link rel="stylesheet" type='text/css'
	href="/resources/css/angular.rangeSlider.css">
<link rel="stylesheet" type='text/css'
	href="/resources/css/bootstrap-datetimepicker.css">

</head>

<body ng-app="validationOffre">
	<!-- Menu -->
	<div ng-include="'/resources/header.html'"></div>


	<!-- Formulaire de création -->
	<div id="StyleFormulaireOffre" class="text-center">
		<div class="containerFormOffre">
			<div class="general-form">
	
				<h2>Votre offre :</h2>
				<form name="OffreForm" ng-controller="OffreCtrl"
					ng-submit="submitForm()" novalidate >
					
<div ng-show="allowDisplay" class="overlay-photo" ><div class="Aligner">
						<div class="Aligner-item" ><span class="fa-stack fa-lg" ng-click="disable()">
<i class="fa fa-times fa-stack-1x"> </i>
</span></i><img class="showtime" ngf-src='current'/><p></p></div></div></div>


					<div class="Aligner">
						<div class="Aligner-item">
							
							<div class="item-view text-left ">
								<div class="img-tile-premium Aligner ">
								<div class="mask ">

									<shine> <img class="img-circle img-tile"
										ng-show="premium" src="resources/img/offre/premium.png" /> </shine>
								</div>
							</div>
							<div
						class="inner-item-view"
						ng-class="{'item-premium' : premium}"
						>
								<div class="Aligner-left">

									<div class=" Aligner-item">
										<h2>{{titre}}</h2>
										<p>{{typeCuisine.type}}</p>
										<p>{{prix}} €</p>
										<p>Place(s) restante(s) : {{nbpers}}</p>
										<p>{{date | date:"dd/MM/yyyy 'à' HH'h'mm"}}</p>
									</div>

								
										<div ng-if="profil.image == null" class="Aligner-item">
							<img src="resources/img/team/missing.jpg"
								class="img-circle img-tile img-profil">
						</div>
						<div ng-if="!(profil.image == null)" class="Aligner-item">
							<img src="{{profil.image.path |correctPath}}"
								class="img-circle img-tile img-profil">
						</div>

									

								</div>
								</div>
							</div>
						</div>

					</div>
					<div layout="row">
						<div flex>
							<!-- Détails du repas proposé -->
							<fieldset>
								<legend id ='top'>Le repas</legend>


								<md-content layout-padding>
								<div ng-show="!profil.premium && !paye" layout layout-sm="column">
									<md-checkbox uib-popover-template="dynamicPopover.templateUrl" popover-append-to-body="true" popover-is-open="popoverOuverte" popover-title="{{dynamicPopover.title}}" ng-model="premium" aria-label="premium"
										ng-disabled="profil.premium">Offre premium</md-checkbox>
								</div>
								
								<div class="white" ng-show="paye">Félicitations vous avez payé pour une offre premium</div>
								</br>
								<div layout layout-sm="column">
									<md-input-container flex> <label
										id="white" for="titre">Titre de l'offre* :</label> <input
										id="white" type="text" name="titre" ng-model="titre"
										ng-required="true" placeholder="Titre de l'offre."
										maxlength="18">
									<div  ng-messages="OffreForm.titre.$error"
										ng-show="(OffreForm.titre.$touched   || submited)">
										<div ng-message="required">Veuillez saisir un titre pour
											l'offre.</div>
									</div>
									</md-input-container>
									<md-input-container flex> <label
										id="white" for="typeCuisine">Type de cuisine :</label> <md-select
										id="select_white" name="typeCuisine" ng-model="typeCuisine">
									<md-option id="back_white" ng-value="{{item}}"
										ng-selected="item.id==1" ng-repeat="item in cook">{{item.type}}</md-option>
									</md-select> </md-input-container>
								</div>
								<div layout layout-sm="column">
									<md-input-container flex> <label
										id="white" for="nbpers">Nombre de convives* :</label> <input
										id="white" type="number" name="nbpers" ng-model="nbpers"
										ng-min="1" ng-required="true"
										placeholder="Nombre de couverts.">
									<div ng-messages="OffreForm.nbpers.$error"
										ng-show="( OffreForm.nbpers.$touched  || submited)">
										<div ng-message="min">Veuillez saisir un nombre
											supérieur à 1.</div>
										<div ng-message="required">Veuillez saisir un nombre de
											convives.</div>
										<div ng-message="number">Veuillez saisir un nombre.</div>
									</div>
									</md-input-container>
									<md-input-container flex> <label
										id="white" for="prix">Prix par convive* :</label> <input
										id="white" type="number" step="0.1" name="prix"
										ng-model="prix" ng-min="1.00" ng-required="true"
										placeholder="Prix par convive.">
									<div ng-messages="OffreForm.prix.$error"
										ng-show="(OffreForm.prix.$touched   || submited)">
										<div ng-message="min">Veuillez saisir un prix supérieur
											à 1.00.</div>
										<div ng-message="required">Veuillez saisir un prix.</div>
										<div ng-message="number">Veuillez saisir un nombre.</div>
									</div>
									</md-input-container>
									<md-input-container flex> <label
										id="white" for="duree">Durée du repas(min)* :</label> <input
										id="white" type="number" ng-model="duree" name="duree"
										ng-min="60" ng-required="true"
										placeholder="Durée prévisionnelle.">
									<div ng-messages="OffreForm.duree.$error"
										ng-show="(OffreForm.duree.$touched   || submited)">
										<div ng-message="min">Veuillez saisir une durée
											supérieur à 60 min.</div>
										<div ng-message="required">Veuillez saisir une durée.</div>
										<div ng-message="number">Veuillez saisir un nombre.</div>
									</div>
									</md-input-container>
								</div>
								<md-input-container flex> <label id="white"
									for="date">Date* :</label>
								<div class="form-group">
									<div class='input-group date'>
										<input id="white" ng-readonly="true" type='text' class="form-control"
											ng-required="true" name="date" ng-model="date"
											data-date-time-picker /> <span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
								<div  ng-messages="OffreForm.date.$error"
									ng-show="(OffreForm.date.$touched  || submited)">
									<div ng-message="required">Veuillez seletionner une date.</div>
								</div>


								</md-input-container> </md-content>

							</fieldset>

							<!-- détails sur le menu -->
							<fieldset>
								<legend>La carte</legend>

								<md-content layout-padding>
								<div layout layout-sm="column">
									<md-input-container flex> <label
										id="white" for="entree">Entrée(s) :</label> <textarea
										id="white" name="entree" ng-model="entree"
										placeholder="Entrées du repas."></textarea> </md-input-container>
								</div>
								<div layout layout-sm="column">
									<md-input-container flex> <label
										id="white" for="plat">Plat principal* :</label> <textarea
										id="white" name="plat" ng-model="plat"
										placeholder="Votre plat." ng-required="true"></textarea>
									<div ng-messages="OffreForm.plat.$error"
										ng-show="(OffreForm.plat.$touched   || submited)">
										<div ng-message="required">Votre menu doit contenir au
											moins un plat.</div>
									</div>
									</md-input-container>
								</div>
								<div layout layout-sm="column">
									<md-input-container flex> <label
										id="white" for="dessert">Dessert(s) :</label> <textarea
										id="white" name="dessert" ng-model="dessert"
										placeholder="Desserts du repas."></textarea> </md-input-container>
								</div>
								<div layout layout-sm="column">
									<md-input-container flex> <label
										id="white" for="boisson">Boisson(s) :</label> <textarea
										name="boisson" id="white" ng-model="boisson"
										placeholder="Boissons du repas."></textarea> </md-input-container>
								</div>
								</md-content>

							</fieldset>

							<!-- Details sur le lieu de rendez-vous -->
							<fieldset>

								<legend>Lieu</legend>
								<md-content layout-padding>
								<div layout layout-sm="column">
									<md-checkbox ng-model="home" aria-label="home"
										ng-change="homeAction()" ng-disabled="profil.adresse == null">A
									votre domicile</md-checkbox>
								</div>

								<div layout layout-sm="column">
									<md-input-container flex> <label
										id="white" for="numero">Numéro* :</label> <input id="white"
										type="number" ng-model="numero" name="numero" ng-min="1"
										placeholder="Numéro de voirie." ng-required="!home"
										ng-disabled="home">
									<div  ng-messages="OffreForm.numero.$error"
										ng-show="(OffreForm.numero.$touched  || submited)">
										<div ng-message="min">Veuillez saisir un numéro valide.</div>
										<div ng-message="required">Veuillez saisir un numéro de
											voirie.</div>
										<div ng-message="number">Veuillez saisir un nombre.</div>
									</div>
									</md-input-container>
									<md-input-container flex> <label
										id="white" for="rue">Rue* : </label> <input id="white"
										type="text" ng-model="rue" name="rue"
										placeholder="Nom de voirie." ng-required="!home"
										ng-disabled="home">
									<div ng-messages="OffreForm.rue.$error"
										ng-show="(OffreForm.rue.$touched  || submited)">
										<div ng-message="required">Veuillez saisir un nom de
											rue.</div>
									</div>
									</md-input-container>
									<md-input-container flex> <label
										id="white" for="complement">Complément : </label> <input
										id="white" type="text" name="complement" ng-model="complement"
										placeholder="Compléments." ng-disabled="home"> </md-input-container>

								</div>
								<div layout layout-sm="column">
									<md-input-container flex> <label
										id="white" for="ville">Ville* :</label> <input id="white"
										type="text" name="ville" ng-model="ville"
										placeholder="Votre ville." ng-required="!home"
										ng-disabled="home">
									<div ng-messages="OffreForm.ville.$error"
										ng-show="(OffreForm.ville.$touched || submited)">
										<div ng-message="required">Veuillez saisir votre ville.</div>
									</div>
									</md-input-container>
									<md-input-container flex> <label
										id="white" for="cp">Code postal* :</label> <input id="white"
										type="text" name="cp" ng-model="cp"
										ng-pattern="/^[1-9][0-9A-B][0-9]{3}$/"
										placeholder="Votre code postal." ng-required="!home"
										ng-disabled="home">
									<div ng-messages="OffreForm.cp.$error"
										ng-show="(OffreForm.cp.$touched   || submited)">
										<div ng-message="pattern">Le code postal saisit est
											incorrect.</div>
										<div ng-message="required">Veuillez saisir un code
											postal.</div>
									</div>
									</md-input-container>
									<md-input-container flex> <label
										id="white" for="pays">Pays :</label> <md-select
										id="select_white" name="pays" ng-model="pays"
										ng-disabled="home"> <md-option id="back_white"
										ng-value="{{item}}" ng-selected="item.id==1"
										ng-repeat="item in count">{{item.nom}}</md-option> </md-select> </md-input-container>
								</div>
								</md-content>

							</fieldset>

							<!-- Informations optionnelles que peut renseigner l'utilisateur -->
							<fieldset>
								<legend>Divers</legend>

								<md-content layout-padding>

								<div layout layout-sm="column">
																		
									<md-input-container flex> <label
										for="images">Image(s) :</label>
									
								 	<div ngf-drop ngf-select ng-model="fichiers" class="drop-box text-center" 
								        ngf-drag-over-class="'dragover'" ngf-multiple="premium" ngf-allow-dir="false"
								        accept="image/*" 
							        ngf-pattern="'image/*'">Faites glisser vos images dans cette zone ou cliquez.</div>
								    <div id="white" ngf-no-file-drop>Le Drag & Drop n'est pas supporté par votre navigateur.</div>
								     
						<div class="carousel" ng-hide="images.length == 0">
					
 								 	<ul  rn-carousel rn-carousel-controls rn-carousel-controls-allow-loop rn-carousel-easing="easeInOutQuad">
  								
  								<li ng-repeat="f in images">
  								  <img ngf-src="f" class="medium"  ng-click="supprimer(f)" title="cliquez pour supprimer la photo">
 							 	</li>	
							</ul>
							</div>
					




									
								   
							    								    									    
							    </md-input-container>
							    </div>
							
								<md-content layout-padding>

								<div layout layout-sm="column">

									<md-input-container flex> <label
										id="white">Tranche d'âges : de {{age.min}} à
										{{age.max}} ans</label> <input id="hidden" type="text"
										placeholder="Tranche d'âges." />
									<div id="tranches-ages" range-slider min="18" max="100"
										model-min="age.min" model-max="age.max"></div>
									</md-input-container>
								</div>
								<br>
								<div layout layout-sm="column">
									<md-input-container flex> <label
										id="white" for="note">Remarques :</label> <textarea id="white"
										name="note" ng-model="note"
										placeholder="Informations complémentaires."></textarea> </md-input-container>
								</div>
								<div layout layout-sm="column">
									<md-checkbox ng-model="animal" aria-label="animal">Présence
									d'un animal de compagnie</md-checkbox>
								</div>
								</md-content>

							</fieldset>

							<br>
						</div>

						<div flex>
							<br> <br>

							<fieldset ng-class="{'field-premium' : premium}">
								<div class=" Aligner img-offre-premium ">
								<div class="mask ">

									<shine> <img class="img-circle img-tile"
										ng-show="premium" src="resources/img/offre/premium.png" /> </shine>
								</div>
							</div>
								<h2>{{titre || "Titre non complété"}}</h2>
								<h3>Repas organisé le {{date | date:"dd/MM/yyyy 'à' HH'h'mm"}}.</h3>

								<fieldset class="inner ">
									<legend>L'offre de repas</legend>
									 	<div class="carousel" ng-hide="images.length == 0">
 								 	<ul  rn-carousel rn-carousel-controls rn-carousel-controls-allow-loop rn-carousel-easing="easeInOutQuad">
  								
  								<li ng-repeat="f in images">
  								  <img ng-click="display(f)" ngf-src="f" class="medium" >
 							 	</li>	
							</ul>
							</div>
									<div class="general-form">
										<!-- Présentation de l'hôte, du lieu -->
										<fieldset class="inner ">
											<legend>L'hôte</legend>
											<h3>Identité :</h3>
											{{profil.prenom}} {{profil.nom}}
											<h3>Lieu :</h3>
											{{numero}} {{rue}} {{complement}}<br> {{cp}} {{ville}}
											({{pays.nom}})
											<h3>Prix par convive :</h3>
											{{prix}} €
										</fieldset>

										<!-- Présentation du menu -->
										<fieldset class="inner ">
											<legend>Le menu</legend>
											<h3>Type de cuisine :</h3>
											{{typeCuisine.type}}
											<h3>Dans votre assiette :</h3>
											<br>
											<h4>Entrée(s) :</h4>

											<pre class="white word_respect">{{entree || "aucunes entrées"}}</pre>
											<br>
											<h4>Plat :</h4>
											<pre class="white word_respect">{{plat || "Plat non complété"}}</pre>
											<br>
											<h4>Dessert(s) :</h4>

											<pre class="white word_respect ">{{dessert || "aucuns desserts"}} </pre>
											<br>
											<h4>Carte des boissons :</h4>

											<pre class="white word_respect ">{{boisson || "aucunes boissons particulières"}}</pre>
											<br> <br>
											<h3>Nombre de couverts restants :</h3>
											<!--  x sur y  -->
											{{nbpers}} sur {{nbpers}}
											<h3>Durée prévisionnelle :</h3>
											{{duree}} min.
										</fieldset>

										<!-- Informations diverses (et optionnelles) -->
										<fieldset class="inner ">
											<legend class="inner ">Divers</legend>
											<div ng-if="animal">
												Un animal de compagnie sera présent lors du repas.<br>
											</div>
											<div ng-if="age">
												Ce repas s'adresse aux {{age.min}}-{{age.max}} ans.<br>
											</div>
											<div ng-if="note">{{note}}</div>

										</fieldset>
										<div>
								</fieldset>
							</fieldset>
							<br>
							<!-- Validation du formulaire : disponible uniquement quand les champs sont valides -->
							<md-button id="form_button" type="submit"
								ng-click="submited=true" class="form">Ajouter</md-button>
						</div>
					</div>
				</form>

			</div>
		</div>
	
	</div>

	<script type="text/javascript" src="/resources/js/scripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular-touch.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular-carousel.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular-material.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular-animate.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular-aria.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular-messages.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/moment.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/bootstrap.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular.rangeSlider.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/ui-bootstrap-tpls.min.js"></script>
	<script src="/resources/js/filters/filters.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular-ui-bootstrap-tpls.js"></script>
	
	<script type="text/javascript" src="/resources/js/scripts/angular-notification-icons.min.js"></script>
    <script type="text/javascript" src="/resources/js/scripts/angular-animate.js"></script>
    <script type="text/javascript" src="/resources/js/scripts/ui-bootstrap-tpls-1.0.3.js"></script>
	
	<script type="text/javascript" src="/resources/js/controllers/controller_formulaire_offre.js"></script>


	<!-- Pied de page -->
	<div ng-include="'/resources/footer.html'"></div>

</body>
</html>