<!-- 
©Copyright 2015 - FeedMe
Page proposant le formulaire d'inscription.
 -->

<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Inscription</title>

<link rel="stylesheet" type='text/css'
	href="/resources/css/angular-material.min.css">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.css">
<link rel="stylesheet" type="text/css"
	href="resources/fonts/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="resources/css/custom/style.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/responsive.css">
<link rel="stylesheet" type='text/css'
	href="/resources/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" type='text/css'
	href="/resources/css/toastr.min.css">
<link rel='stylesheet' type='text/css'
	href='resources/fonts/general-font.css'>
    <link rel="stylesheet" type="text/css"
	href="resources/css/custom/inscription.css">
</head>

<body ng-app="Inscription">

	<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img class="logo"
					src="resources/img/icon.png" /> FeedMe</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html">Retour à l'accueil</a></li>
					<li><a href="login.html">Se connecter</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- Menu -->
	<div id="StyleFormulaireInscription" class="text-center">
		<div class="overlay">
			<div class="general-form inscription-form">

				<!-- Formulaire d'inscription -->
				<div class="inscriptionForm">
					<h2>Inscription</h2>
					
					<form name="InscriptionForm scroll" class="text-center"
						ng-controller="InscriptionCtrl" ng-submit="submitForm()"
						novalidate>
						<div class="textAndInput">
							<md-content layout-padding>
							<div layout layout-sm="column">
								<md-input-container flex> <label id="white"
									for="nom">Nom :</label> <input id="white" type="text"
									name="nom" ng-model="nom" ng-required="true"
									placeholder="Votre nom.">
								<div ng-messages="InscriptionForm.nom.$error" ng-show="(InscriptionForm.nom.$touched  || submited)">
									<div ng-message="required" class="error-message-shadowed">Veuillez saisir votre nom.</div>
								</div>
								</md-input-container>
								<md-input-container flex> <label id="white"
									for="prenom">Prénom :</label> <input id="white" type="text"
									name="prenom" ng-model="prenom" ng-required="true"
									placeholder="Votre prénom.">
								<div ng-messages="InscriptionForm.prenom.$error" ng-show="(InscriptionForm.prenom.$touched  || submited)">
									<div ng-message="required" class="error-message-shadowed">Veuillez saisir votre prénom.</div>
								</div>
								</md-input-container>
							</div>

							<div layout layout-sm="column">
								<md-input-container flex> <label id="white"
									for="email">Email :</label> <input id="white" type="email"
									name="email" ng-model="email" ng-required="true"
									placeholder="Adresse mail">
								<div ng-messages="InscriptionForm.email.$error" ng-show="(InscriptionForm.email.$touched || submited)">
									<div ng-message="required" class="error-message-shadowed">Veuillez saisir votre email.</div>
									<div ng-message="email" class="error-message-shadowed">Votre email est invalide.</div>
								</div>
								</md-input-container>
								
								
								<md-input-container flex> <label id="white"
									for="date">Date* :</label>
								<div class="form-group">
									<div class='input-group date'>
										<input id="white" ng-readonly="true" type='text' class="form-control"
											ng-required="true" name="date" ng-model="date"
											data-date-time-picker /> <span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
								<div  ng-messages="InscriptionForm.date.$error"
									ng-show="(InscriptionForm.date.$touched  || submited)">
									<div ng-message="required" class="error-message-shadowed">Veuillez seletionner une date.</div>
								</div>

								</md-input-container>
								
							</div>
													
							<div layout layout-sm="column">
								<md-input-container flex> <label id="white"
									for="mdp">Mot de passe : </label> <input id="white"
									type="password" name="mdp" ng-model="mdp" ng-required="true"
									placeholder="Mot de passe">
								<div ng-messages="InscriptionForm.mdp.$error" ng-show="(InscriptionForm.mdp.$touched    || submited)">
									<div ng-message="required" class="error-message-shadowed">Veuillez saisir un mot de
										passe.</div>
								</div>
								</md-input-container>
								<md-input-container flex> <label  id="white" for="cmdp">Confirmez
									le mot de passe : </label> <input id="white" type="password"
									name="cmdp" ng-model="cmdp" ng-required="true"
									placeholder="Mot de passe" ensure-expression="mdp == cmdp">
								<div ng-messages="InscriptionForm.cmdp.$error" ng-show="(InscriptionForm.cmdp.$touched || submited)">
									<div ng-message="required" class="error-message-shadowed">Veuillez confirmer le mot de
										passe.</div>
									<div ng-message="mauvaismdp" class="error-message-shadowed">Les mots de passe sont
										différents.</div>
								</div>
								</md-input-container>		
								
							</div>
							
							<div layout layout-sm="column">
								<md-input-container flex> <label
									id="white" for="numero">Numéro* :</label> <input id="white"
									type="number" ng-model="numero" name="numero" ng-min="1"
									placeholder="Numéro de voirie." ng-required="!home"
									ng-disabled="home">
								<div ng-messages="InscriptionForm.numero.$error" ng-show="(InscriptionForm.numero.$touched  || submited)">
									<div ng-message="min" class="error-message-shadowed">Veuillez saisir un numéro valide.</div>
									<div ng-message="required" class="error-message-shadowed">Veuillez saisir un numéro de voirie.</div>
									<div ng-message="number" class="error-message-shadowed">Veuillez saisir un nombre.</div>
								</div>
								</md-input-container>
								<md-input-container flex> <label
									id="white" for="rue">Rue* : </label> <input id="white"
									type="text" ng-model="rue" name="rue"
									placeholder="Nom de voirie." ng-required="!home"
									ng-disabled="home">
								<div ng-messages="InscriptionForm.rue.$error" ng-show="(InscriptionForm.rue.$touched  || submited)">
									<div ng-message="required" class="error-message-shadowed">Veuillez saisir un nom de rue.</div>
								</div>
								</md-input-container>
								<md-input-container flex> <label
									id="white" for="complement">Complément : </label> <input
									id="white" type="text" name="complement" ng-model="complement"
									placeholder="Compléments." ng-disabled="home"> </md-input-container>

							</div>
							<div layout layout-sm="column">
								<md-input-container flex> <label
									id="white" for="ville">Ville* :</label> <input id="white"
									type="text" name="ville" ng-model="ville"
									placeholder="Votre ville." ng-required="!home"
									ng-disabled="home">
								<div ng-messages="InscriptionForm.ville.$error" ng-show="(InscriptionForm.ville.$touched || submited)">
									<div ng-message="required" class="error-message-shadowed">Veuillez saisir votre ville.</div>
								</div>
								</md-input-container>
								<md-input-container flex> <label
									id="white" for="cp">Code postal* :</label> <input id="white"
									type="text" name="cp" ng-model="cp"
									ng-pattern="/^[1-9][0-9A-B][0-9]{3}$/"
									placeholder="Votre code postal." ng-required="!home"
									ng-disabled="home">
								<div ng-messages="InscriptionForm.cp.$error" ng-show="(InscriptionForm.cp.$touched   || submited)">
									<div ng-message="pattern" class="error-message-shadowed">Le code postal saisit est incorrect.</div>
									<div ng-message="required" class="error-message-shadowed">Veuillez saisir un code postal.</div>
								</div>
								</md-input-container>
								<md-input-container flex> <label
									id="white" for="pays">Pays :</label> <md-select
									id="select_white" name="pays" ng-model="pays"
									ng-disabled="home"> <md-option id="back_white"
									ng-value="{{item}}" ng-selected="item.id==1"
									ng-repeat="item in count">{{item.nom}}</md-option> </md-select> </md-input-container>
							</div>
							<div layout layout-sm="column">
								<md-input-container flex>
									<md-checkbox ng-show="!paye" uib-popover-template="dynamicPopover.templateUrl" popover-append-to-body="true" popover-is-open="popoverOuverte" popover-title="{{dynamicPopover.title}}" ng-model="premium" aria-label="premium">
          								Compte Premium
        							</md-checkbox>
								</md-input-container>
							</div>
							<div class="white" ng-show="paye">Félicitations, vous avez souscrit à un compte Premium !</div>
							<md-button id="form_button_log" type="submit" ng-click="submited=true"
								class="form">Confirmer</md-button> </md-content>
								</br>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/resources/js/scripts/angular.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/moment.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular-animate.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular-aria.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular-material.min.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular-messages.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="/resources/js/controllers/controller_inscription.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/angular-ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="/resources/js/scripts/toastr.min.js"></script>

	<!-- Pied de page -->
	<div ng-include="'/resources/footer.html'"></div>
</body>
</html>
