<!-- 
©Copyright 2015 - FeedMe
Page de visualisation des offres de repas.
 -->

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Liste des réservations</title>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css"  href="resources/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="resources/fonts/font-awesome/css/font-awesome.css">

        <!-- Stylesheet================================================== -->
        <link rel="stylesheet" type="text/css"  href="resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="resources/css/responsive.css">

        <link rel='stylesheet' type='text/css' href='resources/fonts/general-font.css'>

        <script type="text/javascript" src="resources/js/modernizr.custom.js"></script>
        <script src="/resources/js/angular.min.js"></script>
        
		<script src="/resources/js/angular.min.js"></script>
		<script src="/resources/js/script_list_offre.js"></script>
		<link rel="stylesheet" type="text/css" href="/resources/css/list_style.css" />
	</head>
		
		<body ng-app="ListeApp">
			<!-- Menu -->
			<div ng-include="'/resources/header.html'"></div>
			
			<!-- Liste de toutes les offres -->
			<div id ="vue-offre" ng-controller="ListeCtrl">
                <!-- Hack à régler -->
                <br/>
				<ul ng-repeat="item in list track by item.id">
					<li class="ligne-tab">
						<div class="item-view" ng-click="visualize(item)">
							<h2>{{item.titre}}</h2>
							<p>
								{{item.typeCuisine.typeCuisine}}
							</p>
							<p>
								{{item.prix}} €
							</p>
							<p>
								{{item.nombreRestant}}
							</p>
							<p>
								{{item.dateRepas}}
							</p>
						</div>
					</li>
				</ul>
			</div>
			
			<!-- Pied de page -->
			<div ng-include="'/resources/footer.html'"></div>
		</body>
	</html>
