<!DOCTYPE html>

<html>

	<form action="/signin" method="post">
		<input name="username" type="text">
		<input name="password" type="password">
		<input  type="submit">
	</form>

</html>


<!-- <html lang="en"> -->
<!-- <head> -->
<!-- <meta charset="utf-8"> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
<!-- <title>Authentification</title> -->
<!-- <script -->
<!-- 	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- <script src="/js/angular.min.js"></script> -->
<!-- <script> 
// 			var email =  angular.module('email', []);
// 			email.controller('EmailController', function($scope) {
// 				$scope.email = {
// 					text: 'me@example.com'
// 				};
// 			});
// 			 var password = angular.module('pwd', []);
// 			 password.controller('PassWController', function($scope) {
// 				$scope.pwd = {
// 					text: 'password'
// 				};
// 			});
// 			angular.module("PluryModule", ["email", "pwd"]);
 		</script> -->
<!-- </head> -->
<!-- <body ng-app="PluryModule"> -->
<!-- 	<div ng-include="'/header.html'"></div> -->
<!-- 	<div> -->
<!-- 		<h1>Authentification</h1> -->
<!-- 		<form name="form" method="POST"> -->
<!-- 			<div ng-controller="EmailController"> -->
<!-- 				<p> -->
<!-- 					<input type="email" name="input" ng-model="email.text" required> -->
<!-- 				</p> -->
<!-- 				<div ng-show="form.$submitted || form.input.$touched" role="alert"> -->
<!-- 					<span class="error" ng-show="form.input.$error.required">Requis!</span> -->
<!-- 					<span class="error" ng-show="form.input.$error.email">Format -->
<!-- 						d'e-mail invalide</span> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div ng-controller="PassWController"> -->
<!-- 				<p> -->
<!-- 					<input type="password" name="passwordInput" ng-model="pwd.text" -->
<!-- 						required> -->
<!-- 				</p> -->
<!-- 				<div ng-show="form.$submitted || form.passwordInput.$touched" -->
<!-- 					role="alert"> -->
<!-- 					<span class="error" ng-show="form.passwordInput.$error.required">Requis!</span> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<input type="submit" name="boutonConfirmation" value="Confirmer" /> -->
<!-- 		</form> -->
<!-- 	</div> -->
<!-- 	<div ng-include="'/footer.html'"></div> -->
<!-- </body> -->
<!-- </html> -->




