<!-- 
©Copyright 2015 - FeedMe
Page permettant une visualisation du profil d'un utilisateur.
 -->

<!DOCTYPE html>
<html lang="fr">
<html> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Profil utilisateur</title>
        <meta name="description" content="Visualisation du profil FeedMe">
	    <link rel="stylesheet" type="text/css"  href="resources/css/bootstrap.css">
    	<link rel="stylesheet" type="text/css" href="resources/fonts/font-awesome/css/font-awesome.css">
    	<link rel="stylesheet" type="text/css"  href="resources/css/style.css">
    	<link rel="stylesheet" type="text/css" href="resources/css/responsive.css">
		<link rel='stylesheet' type='text/css' href='resources/fonts/general-font.css'>
		<link rel='stylesheet' type='text/css' href='resources/css/angular-notification-icons.min.css'>
    </head>
    
    <body ng-app="Profil">
    	<!-- Menu -->
        <div ng-include="'/resources/header.html'"></div>
        <div class="containerProfil">
            <br/>
            
            <!-- Affichage des éléments du profil de l'utilisateur connecté -->
            <div class="profil" ng-controller="ProfilCtrl">
                <div class="col-lg-3 image-profil Aligner">
                <img id="image-profil" ng-if="profil.image == null" src="resources/img/profil/profil.jpg">
				<img id="image-profil" ng-if="!(profil.image == null)"  src="{{profil.image.path | correctPath}}"/>
                </div>
                <div class="col-lg-7 infos-profil">
                <h2>Profil de {{profil.prenom}}</h2>
                <p>Nom: {{profil.nom}}<br/>
                Prénom: {{profil.prenom}}<br />
                Date de naissance: {{profil.dateNaissance}}<br />
                e-mail: {{profil.mail}}<br/>
                Bio: {{profil.description}}<br />
				<div ng-if="profil.adresse && profil.adresseVisible">
				Adresse : {{profil.adresse.voie}}.<br />
				{{profil.adresse.ville.cp}} {{profil.adresse.ville.nom}} ({{profil.adresse.ville.pays.nom}})<br />
                </div>
                <div ng-include="'/resources/template_profil_liste.html'"></div>   
		</div>
            </div>     
            <br>    
        </div>
        
        <!-- Pied de page -->
        <div ng-include="'/resources/footer.html'"></div>
        
         <script type="text/javascript" src="/resources/js/scripts/angular.min.js"></script>
	     <script type="text/javascript" src="/resources/js/scripts/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/resources/js/scripts/angular-notification-icons.min.js"></script>
 	 	  <script type="text/javascript" src="/resources/js/scripts/angular-animate.js"></script>
 	   <script type="text/javascript" src="/resources/js/scripts/ui-bootstrap-tpls-1.0.3.js"></script>
         		<script src="/resources/js/filters/filters.js"></script>
         		
         <script type="text/javascript" src="/resources/js/controllers/controller_visualiser_profil.js"></script>
    </body>
</html>
