<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fil.iagl.iir.dao.authentification.AuthentificationDao">

	<resultMap type="fil.iagl.iir.entite.Authentification" id="Authentification_ResultMap">
		<result property="password" column="aut_password"/>
		<result property="role" column="aut_rol_id" typeHandler="fil.iagl.iir.typehandler.RoleTypeHandler"/>

		<result property="utilisateur.idUtilisateur" column="aut_usr_id"/>
		<result property="utilisateur.mail" column="usr_mail"/>
		<result property="utilisateur.nom" column="usr_nom"/>
		
	</resultMap>


	<sql id="select_all_columns_authentification">
		SELECT 	
				aut_usr_id, aut_password, aut_rol_id, usr_mail, usr_nom
		FROM 
				AUTHENTIFICATION INNER JOIN UTILISATEUR ON (aut_usr_id = usr_id )
	</sql>

	<select id="getByUsername" resultMap="Authentification_ResultMap">
		<include refid="select_all_columns_authentification"/>
		WHERE usr_mail = #{username}
	</select>
	
	<insert id="sauvegarder" parameterType="fil.iagl.iir.entite.Authentification">
		INSERT INTO AUTHENTIFICATION(AUT_USR_ID, AUT_PASSWORD, AUT_ROL_ID) VALUES
		(#{authentification.utilisateur.idUtilisateur}, #{authentification.password}, #{authentification.role.id})
	</insert>

</mapper>