<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fil.iagl.iir.dao.image.ImageDao">

	<resultMap type="fil.iagl.iir.entite.Image" id="Image_ResultMap">
		<id property="id" column="img_id"/>
		<result property="path" column="img_path"/>
	</resultMap>


	<sql id="select_all_columns_image">
		SELECT img_id, img_path
		FROM IMAGE
	</sql>
	
	<sql id="select_all_columns_offre_image">
		SELECT img_id, img_path
		FROM IMAGE_OFFRE INNER JOIN IMAGE ON ( imo_img_id = img_id )
	</sql>
	
	<select id="getById" resultMap="Image_ResultMap">
		<include refid="select_all_columns_image"/>
		WHERE img_id = #{idImage}
	</select>
	
	<select id="getAllByIdOffre" resultMap="Image_ResultMap">
		<include refid="select_all_columns_offre_image"/>
		WHERE imo_off_id = #{idOffre}
	</select>
	
	<insert id="sauvegarder" useGeneratedKeys="true" keyColumn="img_id" keyProperty="image.id">
		INSERT INTO IMAGE (img_path)
		VALUES ( #{image.path} );
	</insert>
	
	<insert id="sauvegarderPourOffre">
		INSERT INTO IMAGE_OFFRE ( imo_off_id, imo_img_id )
		VALUES ( #{idOffre}, #{idImage});
	</insert>
	
	<delete id="supprimerPourOffre">
		DELETE FROM IMAGE_OFFRE
		WHERE imo_off_id = #{idOffre}
	</delete>
	

</mapper>