<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="fil.iagl.iir.dao.utilisateur.UtilisateurDao">
	<resultMap type="fil.iagl.iir.entite.Utilisateur" id="Utilisateur_ResultMap">
		<id property="idUtilisateur" column="usr_id"/>
		<result property="nom" column="usr_nom"/>
		<result property="mail" column="usr_mail"/>
		<result property="premium" column="usr_premium"/>
		<result property="description" column="usr_description"/>
		<result property="adresseVisible" column="usr_adresse_visible"/>
		<association property="adresse" column="usr_adr_id" select="fil.iagl.iir.dao.adresse.AdresseDao.getById" />
	</resultMap>


	<sql id="select_all_columns_utilisateur">
		SELECT usr_id, usr_nom, usr_mail, usr_premium, usr_adr_id, usr_description, usr_adresse_visible
		FROM UTILISATEUR
	</sql>
	
	
	<insert id="sauvegarder" useGeneratedKeys="true" keyColumn="usr_id" keyProperty="utilisateur.idUtilisateur"> 
		INSERT INTO UTILISATEUR ( 
			usr_nom, 
			usr_mail,
			usr_premium 
			<if test="utilisateur.adresse != null">,usr_adr_id</if>
			<if test="utilisateur.adresseVisible != null">,usr_adresse_visible</if>
			<if test="utilisateur.description != null">,usr_description </if>
		) 
		VALUES ( 
			#{utilisateur.nom}, 
			#{utilisateur.mail},
			#{utilisateur.premium}  
			<if test="utilisateur.adresse != null">,#{utilisateur.adresse.id}</if>
			<if test="utilisateur.adresseVisible != null">,#{utilisateur.adresseVisible}</if>
			<if test="utilisateur.description != null">,#{utilisateur.description}</if>)
	</insert>

	<select id="getById" resultMap="Utilisateur_ResultMap">
		<include refid="select_all_columns_utilisateur"/>
		WHERE usr_id = #{id}
	</select>


</mapper>