<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fil.iagl.iir.dao.ville.VilleDao">

	<resultMap type="fil.iagl.iir.entite.Ville" id="Ville_ResultMap">
		<id property="id" column="vil_id"/>
		<result property="nom" column="vil_nom"/>
		<result property="cp" column="vil_cp"/>
		<association property="pays" column="vil_pay_id" select="fil.iagl.iir.dao.pays.PaysDao.getById"/>
	</resultMap>


	<sql id="select_ville_by_id">
		SELECT vil_id, vil_nom, vil_cp, vil_pay_id
		FROM VILLE
	</sql>

	<select id="getById" resultMap="Ville_ResultMap">
		<include refid="select_ville_by_id"/>
		WHERE vil_id = #{id}
	</select>

	<insert id="sauvegarder" useGeneratedKeys="true" keyColumn="vil_id"
		keyProperty="ville.id" >
		INSERT INTO VILLE ( vil_nom, vil_cp, vil_pay_id )
		VALUES ( #{ville.nom}, #{ville.cp}, #{ville.pays.id});
	</insert>

</mapper>