/*
!! Ceci est un .css dégueulasse.
    - Non responsive
    - Peu optimisé

On retouchera ça par la suite, c'est pour le mvp


    - Eviter les positions absolues
    - Largeur et hauteur à adapter à l'écran
*/
html    {
    background: url("../content/dinner_drinks.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	margin: 0%;
	padding: 0%;
	text-align: left;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	color: #061C37;
}

*   {
    margin: 0% auto 0% auto;
    text-align:left;
}

h1  {
    font-size:1.5em;
    margin-bottom:0.7em;
    padding-top:1.2em;
    margin-left:1em;
    margin-top:1em;
    color:#1F1603;
}

footer {
    /* Position */
    position: absolute;
    bottom: 0.4em;
    left: 25%;
    right: 25%;
    
    /* Text positionning */
    text-align: center;
    font-size:1em;
    font-family: Arial, Helvetica, sans-serif;
    
    /* Box style */
    background-color: #C87002;
    border-radius: 1em;
    height: 1.1em;
    width: 25em;
    max-width: 50%;
}


footer a  {
    vertical-align: middle;
    text-align: center;
    color: #ABABAB;
    font-size:0.7em;
    margin: 0.1em 0.5em 0.1em 0.5em;
}

header  {
    /* Position */
    position: absolute;
    top: 0.4em;
    left: 10%;
    right: 10%;
    
    /* Text positionning */
    text-align: center;
    font-size:1em;
    font-family: Arial, Helvetica, sans-serif;
    
    /* Box style */
    background-color: #C87002;
    border-radius: 1em;
    height: 1.1em;
    width: 30em;
    max-width: 80%;
}

header a    {
    color: white;
    font-size: 15px;
    text-aligne: center;
    margin: 0.1em 0.5em 0.1em 0.5em;
}

a   {
    color:#C87002;
    text-decoration:none;
}

a:hover {
    color:#793C06
    text-decoration:none;
    border-bottom:dotted 2px;
}

p {text-align: left;}

#main   {
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

/* Buttons */
#bigButtonsWrapper  {
    /* Position */
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    /* Elements position */
    text-align:center;
}

.big_button {
    /* Text position */
	height: 12em;
	width: 21em;
    line-height:200px;
	text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    /* Box style */
    border-radius: 5px;
    border: 2px solid;
	background-color: #d4021d;
    width: 40%;
}

.big_button:hover, .big_button:focus {
	text-decoration: overline underline;
    border: 2px solid white;
}